<%= form_for @category do |f| %>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label t(".name"), for: "name"%>
    <%= f.text_field :name, class: "form-control", id: "name", placeholder: t(".placeholder_name") %>
  </div>
  <%= f.submit yield(:submit), class: "btn btn-primary" %>
<% end %>
