<%= provide :title, "Manage projects" %>
<%= provide :Title, "Managa all projects" %>
<div class="btn-group mt-5">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Download all locations data
    <i class="mdi mdi-database-export mdi-9px"></i>
  </button>
  <div class="dropdown-menu">
    <%= link_to "CSV", "http://localhost:3000/en/locations.csv", class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to "JSON", "http://localhost:3000/en/locations.json", class: "dropdown-item" %>
  </div>
</div>
<table class="table table-hover mt-5">
  <thead>
    <tr class="row">
      <th scope="row" class="col-md-1 table-project">#</th>
      <th class="col-md-3 table-project">Avatar</th>
      <th class="col-md-3 table-project">Name</th>
      <th class="col-md-5 table-project">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "projects/list_projects", collection: @projects, as: :project %>
  </tbody>
</table>
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true"></div>
