<div class="block-29 mb-5">
  <h2 class="heading"><%= t ".course_detail" %></h2>
  <ul>
    <li><span class="text-1"><%= t ".duration" %></span> <span class="text-2">50 <%= t ".days" %></span></li>
    <li><span class="text-1"><%= t ".lectures" %></span> <span class="text-2"><%= course.videos.size %></span></li>
    <li><span class="text-1"><%= t ".quizzes" %></span> <span class="text-2">8</span></li>
    <li><span class="text-1"><%= t ".certificate" %></span> <span class="text-2"><%= t ".yess" %></span></li>
    <li><span class="text-1"><%= t ".subjection" %></span> <span class="text-2">Web Development</span></li>
    <li><span class="text-1"><%= t ".language" %></span> <span class="text-2"><%= t ".english" %></span></li>
    <li><span class="text-1"><%= t ".price" %></span> <span class="text-2"><%= course.cost %></span></li>
  </ul>
</div>
