<p><%= t ".hello" %> <%= @resource.email %>!</p>

<p><%= t ".request" %></p>

<p><%= link_to t(".change_password"), profile_change_password_url(reset_password_token: @token) %></p>

<p><%= t ".ignore" %></p>
<p><%= t ".util" %></p>
